img{
    width:auto;
    max-width:100%;
    height:auto;
    vertical-align:bottom;
}

.img-border-light{
    border: 1px solid $color17;
}

/*==================================
=            Typography            =
==================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    @include rem(margin-bottom, 1.5rem);
}

.giga,
.mega,
.kilo,
h1,
h2,
h3,
h4,
h5,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta{
    color: $color12;
    font-weight: $light;
    line-height: 1.2;
}

.giga{
    @include rem(font-size, 5rem);
}

.mega{
    @include rem(font-size, 4rem);
}

.kilo{
    @include rem(font-size, 3rem);
}

h1,.alpha{
    @include rem(font-size, 2rem);
}

h2,.beta{
    @include rem(font-size, 1.5rem);
}

h3,.gamma{
    @include rem(font-size, 1.25rem);
}

h4,.delta{
    @include rem(font-size, 1rem);
}

h5,.epsilon{
    @include rem(font-size, 0.75rem);
}

h6,.zeta,.zeta-mod{
    color: $color12;
    font-weight: $bold;
    text-transform: uppercase;
    @include rem(font-size, 0.875rem);
}

.zeta-mod{
    text-transform: none;
    font-weight: $regular;
}

blockquote {
    border-left: 3px solid $color13;
    @include rem(padding-left, 1rem);
    @include rem(margin-bottom, 1.5rem);
}

hr{
    height: 1px;
    border: none;
    background-color: $color13;
    @include rem(margin-bottom, 1.5rem);
}

.hr-light-red{
    background-color: $color15;
}

.hr-light-gray{
    background-color: $color17;
}

.hr-gray{
    background-color: $color21;
}

.hr-dark-gray{
    background-color: $color22;
}

/*-----  End of Typography  ------*/

/*==============================
=            States            =
==============================*/

.text-alert,
span.text-alert,
span.red-letter{
    color: $color1;
}

/*-----  End of States  ------*/

/*=============================
=            Links            =
=============================*/

a{
    text-decoration: none;
    @include link-colors($color12, $color1, $color12, $color12, $color1);
    @include transition(color 1s ease);
}

/*-----  End of Links  ------*/

/*===============================
=            Buttons            =
===============================*/

.btn-red{
    @extend %btn;
    color: $color11;
    background-color: $color1;
    &:hover{
    background-color: $color12;
}
    &:active{
    background-color: $color12;
}
}

.btn-blue{
    @extend %btn;
    background-color: $color12;
    &:hover{
    background-color: $color1;
}
    &:active{
    background-color: $color1;
}
}

.btn-light-blue{
    @extend %btn;
    color: $color12;
    background-color: $color13;
    &:hover{
    background-color: darken($color13, 6%);
}
    &:active{
    background-color: darken($color13, 6%);
}
}

.btn-light-red{
    @extend %btn;
    color: $color11;
    background-color: $color14;
    &:hover{
    background-color: darken($color14, 6%);
}
    &:active{
    background-color: darken($color14, 6%);
}
}

.btn-block{
    display: block;
}

a.btn-red,
a.btn-blue{
    color: $color11;
}

a.btn-light-blue{
    color: $color12;
}

a.btn-light-red{
    color: $color1;
}

.btn-small{
    padding: .5em 1em;
    @include rem(font-size, 1rem);
}

.btn-large{
    padding: 1em 1.5em;
}

.btn-large-fixed{
    width: 100%;
    padding: 1em 1.5em;
    @include at-breakpoint(41.429em){
    width: 28.571em;
    text-align: center;
    padding: 1em 0;
}
}

.btn-square{
    @include border-radius(none);
}

.btn-outlink:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e009";
}

.btn-link:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e012";
}

.btn-back:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e016";
}

.btn-signup:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e010";
}

.btn-cart:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e00a";
}

.btn-download:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e01d";
}

.btn-delete:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e019";
}

.btn-plus:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e014";
}

.notification:before{
    padding-right: 0.5em;
    @extend %icon;
    content: "\e013";
}

.go-link:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e012";
}

/*-----  End of Buttons  ------*/

/*==============================
=            Tables            =
==============================*/

.table-container{
    width: 100%;
    overflow-x: auto;
    @include rem(margin-bottom, 1.5rem);
}

.table-container::-webkit-scrollbar{
    height: 0.857em;
}

.table-container::-webkit-scrollbar-thumb{
    border: 3px solid $color11;
    background-color: $color17;
    @include border-radius(8px);
}

.basic-table {
    min-width: 50em;
    width: 100%;
    background-color: $color18;
}

.basic-table th,
.basic-table td {
    text-align: left;
    border: 1px solid $color17;
    vertical-align:top;
    @include rem(padding, 0.5rem);
}

.basic-table th{
    background-color: darken($color11, 7%);
}

.table-light-red td{
    background-color: $color16;
}

/*-----  End of Tables  ------*/

.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0); height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.replace{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.clear{
    clear: both;
}