@import "susy";
$total-columns: 12;             // a 12-column grid
$column-width: 5em;            // each column is 5em wide
$gutter-width: 2em;            // 2em gutters between columns
$grid-padding: 1em;
$container-style: fluid;

@include border-box-sizing;

$legacy-support-for-ie : false;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;

html{
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    color: $color-text;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $color11;
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(80em){
    background-color: darken($color11, 1%);
}
}

.page{
    max-width: 80em;
    @include container;
    // @include susy-grid-background;
    background-color: $color11;
    @include at-breakpoint(80em){
    @include rem(margin-bottom, 1.5rem);
    border: 1px solid darken($color11, 5%);
}
}

header,
footer{
    clear: both;
    @include pie-clearfix;
}

header{
    @include rem(padding-top, 1rem);
    @include rem(margin-bottom, 1.5rem);
}

.main{
    @include pie-clearfix;
    @include at-breakpoint(62em){
    @include span-columns(8,12);
}
}

aside{
    @include rem(margin-bottom, 1.5rem);
}

.secondary{
    @include at-breakpoint(62em){
    @include span-columns(4 omega,12);
    border-top: none;
    padding-top: 0;
}
}

.footer{
    @include rem(margin-bottom, 1rem);
}

/*==========  Alignment  ==========*/

.alignnone{
    margin: 0 0 1em 0;
}

.alignright{
    display: block;
    float: none;
    margin-bottom: 1em;
    @include at-breakpoint(50em){
    display: inline;
    float: right;
    margin: 0 0 1em .75em;
}
}

.alignleft{
    display: block;
    float: none;
    margin-bottom: 1em;
    @include at-breakpoint(50em){
    display: inline;
    float: left;
    margin: 0 .75em 1em 0;
    }
}

.aligncenter{
    display:block;
    margin: 0 auto 1em auto;
}

.center-item{
    text-align: center;
}

/*==========  Print styles  ==========*/

@media print{

table,
img {
    page-break-inside : avoid
}

.basic-table{
    min-width: 0em!important;
    width: 6.25in;//15.875cm
    background-color: #fff;
}

.secondary,
.header,
.footer{
    display:none;
}

.page-end{
    page-break-after: always;
}
}