/*==============================
=            Header Module           =
==============================*/

.header-area{
    @include rem(margin-bottom, 1.5rem);
    @include pie-clearfix;
}

.main-logo{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-bottom, 1.5rem);
    border-bottom: 1px solid $color1;
    @include span-columns(12,12);
    @include at-breakpoint(60em){
    @include span-columns(8,12);
    margin-bottom: 0;
    padding-bottom: 0;
    @include rem(padding-top, 0.75rem);
    border-bottom: 0;
    }
}

.header-logos{
    @include span-columns(12,12);
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(60em){
    @include span-columns(4 omega,12);
    @include rem(padding-left, 1.5rem);
    @include rem(padding-top, 0.25rem);
    @include rem(padding-bottom, 0.25rem);
    border-left: 1px solid $color1;
    }
}

.trust-symbols{
    @include rem(margin-bottom, 1rem);
}

.trust-symbol{
    @include rem(margin-right, 1rem);
}

/*==========  Top nav ==========*/

.top-module{
    @include span-columns(12 omega,12);
}

.nav-top{
    background-color: $color12;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    @include pie-clearfix;
    @include rem(margin-bottom, 1.5rem);
}

.nav-top li{
    float: left;
    margin-right: 0;
    width: 50%;
    @include at-breakpoint(54.5em){
    width: auto;
    }
}

.nav-top-item a{
    display: block;
    text-align: center;
    padding: 1em;
    border-right: 1px solid $color11;
    color: $color11;
    @include transition(background-color 0.3s ease-out);
}

.nav-top-item a:hover{
    background-color: $color1;
}

a.register,
a.phone-contact{
    border-right: 0;
    @include at-breakpoint(54.5em){
    border-right: 1px solid $color11;
    }
}

.nav-top li:nth-of-type(3){
    border-top: 1px solid $color11;
    @include at-breakpoint(54.5em){
    border-top: 0;
    }
}

.nav-top li:nth-of-type(4){
    border-top: 1px solid $color11;
    @include at-breakpoint(54.5em){
    border-top: 0;
    }
}


/*==========  Social icons  ==========*/

li.social-icons{
    width: 100%;
    text-align: center;
    padding: 0.8em;
    border-top: 1px solid $color11;
    @include at-breakpoint(54.5em){
    width: auto;
    float: right;
    text-align: left;
    padding: 0.7em 0.5em 0 1em;
    border-top: 0;
    }
}

li.social-icons a{
    display: inline;
    color: $color11;
    margin-right: .25em;
    border-right: 0;
}

li.social-icons a:last-of-type{
    margin-right: 0;
}

/*==========  Main header nav  ==========*/

.menu-container{
    line-height: 1;
    clear: both;
}

a.menu-link{
    display: block;
    text-align: right;
    padding: 1em 1em 1em 0;
    text-transform: uppercase;
    color: $color11;
    background-color: $color1;
    border-bottom: 1px solid $color1;
    letter-spacing: 0.077em;
}

a.menu-link:after{
  font-family: 'icomoon';
  content: "\e000";
  @include rem(padding-left, .25rem);
}

.menu ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: $color11;
}

.menu,
.menu > ul ul{
    clear: both;
    @include transition(all 0.5s ease-in-out);
}

.js .menu,
.js .menu > ul ul{
    overflow: hidden;
    max-height: 0;
}

.js .menu > ul ul{
    background-color: darken($color11, 3%);
}

.menu.active,
.js .menu > ul ul.active{
    max-height: 55em;
}

.menu li a{
    color: $color12;
    display: block;
    padding: 1em;
    border-bottom: 1px solid $color1;
    position: relative;
    @include transition(none);
}

.menu li.has-submenu > a:after{
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: $light;
    @include rem(font-size, 1.5rem);
    padding: 0.450em 0;
}

.menu li.has-submenu > a.active:after{
    content: "-";
    font-weight: $light;
}

.menu ul ul > li a{
     padding-left: 1.5em;
     @include transition(background-color 0.3s ease-out);
}

.menu > ul ul > li a:before{
    padding-right: 0.5em;
    content: "\2022";
}

.menu ul ul > li a:hover{
    background-color: $color1;
    color: $color11;
}

.menu li.highlighted-item a:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e012";
}

@media screen and (min-width: 64em){
.menu-container{
    line-height: normal;
    overflow: visible;
    border-bottom: 1px solid $color1;
    border-top: 1px solid $color1;
    @include pie-clearfix;
}

a.menu-link{
    display: none;
}

.js .menu,
.js .menu > ul ul{
    max-height: none;
    overflow: visible;
    background: none;
}

.js .menu > ul ul{
    background-color: $color11;
    border: 1px solid $color1;
    display: none;
}

.js .menu > ul li:hover > ul{
    display: block;
}

.menu ul{
    border: 0;
    background: transparent;
}

.menu li a{
    border: 0;
    padding: 1em;
}

.menu li a:hover,
.active-page{
    color: $color11;
    background-color: $color1;
}

.active-page a:link,
.active-page a:hover,
.active-page a:visited {
  color: #fff;
  }

.menu li.has-submenu > a{
    content: "";
}

.menu li.has-submenu > a:after{
    content: "";
}

.menu li.has-submenu > a.active:after{
    content: "";
}

.menu li.highlighted-item a{
    color: $color11;
    background-color: $color1;
}

.menu li.highlighted-item a:hover{
    background-color: $color12;
}

.menu li.highlighted-item a{
    color: $color11;
}

.menu li.highlighted-item a:before{
    padding-right: .5em;
    @extend %icon;
    content: "\e012";
}

.menu ul.sub-menu .highlighted-item a:before{
    padding-right: 0;
    content: "";
}

.menu > ul > li{
    float: left;
    position: relative;
}

.menu li.highlighted-item{
    float: right;
}

.menu > ul ul{
    position: absolute;
    top: 3.2em;
    left: 0;
    width: 15em;
    box-shadow: 0 0.385em 0.769em rgba(0, 0, 0, 0.2);
  }

.menu > ul ul:after{
    content: '';
    position: absolute;
    left: 1em;
    top: -.75em;
    width: 0;
    height: 0;
    border-left: .75em solid transparent;
    border-right: .75em solid transparent;
    border-bottom: .75em solid $color1;
}

.menu > ul ul li{
    position: relative;
    margin-right: 0;
}

.menu ul ul > li a{
    padding: 1em 0 1em 1em;
    transition:none;
}

.menu > ul ul > li a:before{
    padding-right: 0;
    content: '';
}

}

/*-----  End of Header Module ------*/

/*==========  Banner  ==========*/

.banner-image{
    max-width: 552px;
    @include at-breakpoint(43em){
    max-width: 1120px;
}
}

figure.fixed-ratio {
    padding-top: 38.7681159%;
    background-image: url('../img/pals-banner-small.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    @include at-breakpoint(43em){
    padding-top: 19.1071429%;
    background-image: url('../img/pals-banner.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
}

/*==========  Social Icons  ==========*/

.icon-twitter,
.icon-feed,
.icon-linkedin,
.icon-google-plus,
.icon-flickr,
.icon-facebook,
.icon-youtube,
.icon-youtube-2,
.icon-top,
.icon-mail,
.icon-menu,
.icon-earth,
.icon-vimeo,
.icon-checkmark-circle,
.icon-arrow-up-right,
.icon-cart,
.icon-signup,
.icon-question,
.icon-arrow-right,
.icon-notification,
.icon-plus,
.icon-calendar,
.icon-arrow-left,
.icon-folder,
.icon-pencil,
.icon-remove,
.icon-flickr-2,
.icon-pinterest,
.icon-instagram-logo,
.icon-arrow-down,
.icon-bookmark{
    @include rem(font-size, 1.786rem);
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
    content: "\e004";
}
.icon-feed:before {
    content: "\e005";
}
.icon-linkedin:before {
    content: "\e008";
}
.icon-google-plus:before {
    content: "\e00b";
}
.icon-flickr:before {
    content: "\e00c";
}
.icon-facebook:before {
    content: "\e00d";
}
.icon-youtube:before {
    content: "\e006";
}
.icon-youtube-2:before {
    content: "\e600";
}
.icon-top:before {
    content: "\e00e";
}
.icon-mail:before {
    content: "\e002";
}
.icon-menu:before {
    content: "\e000";
}
.icon-earth:before {
    content: "\e007";
}
.icon-vimeo:before {
    content: "\e00f";
}
.icon-newspaper:before {
    content: "\e001";
}
.icon-checkmark-circle:before {
    content: "\e003";
}
.icon-arrow-up-right:before {
    content: "\e009";
}
.icon-cart:before {
    content: "\e00a";
}
.icon-signup:before {
    content: "\e010";
}
.icon-question:before {
    content: "\e011";
}
.icon-arrow-right:before {
    content: "\e012";
}
.icon-notification:before {
    content: "\e013";
}
.icon-plus:before {
    content: "\e014";
}
.icon-calendar:before {
    content: "\e015";
}
.icon-arrow-left:before {
    content: "\e016";
}
.icon-folder:before {
    content: "\e017";
}
.icon-pencil:before {
    content: "\e018";
}
.icon-remove:before {
    content: "\e019";
}
.icon-flickr-2:before {
    content: "\e01a";
}
.icon-pinterest:before {
    content: "\e01b";
}
.icon-instagram-logo:before {
    content: "\e01c";
}
.icon-arrow-down:before {
    content: "\e01d";
}
.icon-bookmark:before {
    content: "\e601";
}

/*=============================================
=            Social Module            =
=============================================*/

.social-module{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-bottom, 1rem);
}

/*-----  End of Social Module  ------*/

/*=====================================
=            Footer Module            =
=====================================*/

footer{
    text-align: center;
    color: $color11;
    background-color: $color12;
    @include at-breakpoint(50em){
    @include rem(font-size, 0.75rem);
    }
}

.footer-nav{
    @include at-breakpoint(50em){
    @include rem(margin-bottom, 1rem);
    }
}

.footer-menu .nav{
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    @include pie-clearfix;
    @include at-breakpoint(50em){
    padding: 0 1em;
  }
}

.footer-menu .nav a{
    color: $color11;
    display: block;
    padding: 1em 0;
    @include rem(font-size, 1rem);
    @include transition(background-color 0.3s ease-out);
}

.footer-menu .nav a:hover{
    background-color: $color1;
    @include at-breakpoint(50em){
    background-color: $color12;
    text-decoration: underline;
}
}

.footer-menu .nav li{
    border-bottom: 1px solid $color11;
    @include at-breakpoint(50em){
    border-bottom: none;
    display: inline-block;
    margin-right: 1.25em;
}
}

.footer-menu .nav li:last-of-type{
    margin-right: 0;
}

.footer-info{
    padding: 1.5em 0.5em 0;
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(50em){
    padding-top: 0;
}
}

.footer-info a{
    color: $color11;
}

.icon-top{
    display: block;
    @include rem(font-size, 3rem);
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(50em){
    float: right;
    margin-right: .5em;
}
}

/*-----  End of Footer Module  ------*/

/*=============================
=            Boxes            =
=============================*/

.box{
    padding: 1em;
    @include rem(margin-bottom, 1.5rem);
    @include pie-clearfix;

&.box-light-bg{
    background-color: darken($color11, 3%);
}

&.box-light-blue-bg{
    background-color: lighten($color12, 81%);
}

&.box-light-purple-bg{
    background-color: $color19;
}

&.box-light-green-bg{
    background-color: $color20;
}

&.box-light-red-bg{
    background-color: $color16;
}

&.box-border-light{
    border: .5em solid darken($color11, 3%);
}

&.box-border-light-blue{
    border: .5em solid lighten($color12, 78%);
}

&.box-border-light-red{
    border: .5em solid lighten($color1, 60%);
}

&.box-border-dark-blue{
    border: .5em solid $color12;
}

&.box-border-dark-red{
    border: .5em solid $color1;
}

&.box-border-gray{
    background-color: darken($color11, 3%);
    border: .5em solid lighten($color10, 80%);
}

}

.box-light-blue-bg{
    background-color: lighten($color12, 81%);
}

.box-simple{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-bottom, 1rem);
    @include pie-clearfix;
}

.box > :last-child{
    margin-bottom: 0;
}

.box-simple > :last-child{
    margin-bottom: 0;
}

.separator{
    border-bottom: 1px solid lighten($color12, 78%);
}

.separator-gray{
    border-bottom: 1px solid $color17;
}

/*-----  End of Boxes  ------*/

/*===================================
=            Blog Module            =
===================================*/

.content-sbBlog-wrap{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-bottom, 1.5rem);
    border-bottom: 1px solid $color13;
}

.addthis-section{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-top, 1rem);
    @include rem(padding-bottom, 1rem);
    border-top: 1px solid $color13;
    border-bottom: 1px solid $color13;
}

.addthis-fblike,
.addthis-lin,{
    @include rem(margin-right, 1.5rem);
}

.addthis-section a{
    display: block;
    @include rem(margin-bottom, 0.5rem);
    @include at-breakpoint(40.357em){
    display: inline-block;
    margin-bottom: 0;
    }
}

.addthis_counter.addthis_pill_style.addthis-share.addthis_nonzero{
  display: inline-block!important;
}

.addthis_counter.addthis_pill_style a.addthis_button_expanded{
  width:39px!important;
}

.addthis-section a:last-of-type{
    margin-bottom: 0;
}

.content-sbBlog-date{
    color: $color1;
    text-transform: uppercase;
}

.content-sbBlog-month{
    color: $color1;
    text-transform: uppercase;
}

.content-sbBlog-wrap .thumbnail,
.content-sbBlog-wrap .thumbnail img{
    float: left;
    @include rem(padding-right, 0.5rem);
}

.content-sbBlog-post{
    @include rem(margin-bottom, 1.5rem);
    @include pie-clearfix;
}

.read-more{
    @include rem(margin-bottom, 1.5rem);
}

.rss{
    @include rem(margin-bottom, 1.5rem);
    @include rem(padding-bottom, 1.5rem);
    border-bottom: 1px solid #d3e6ff;
}

.content-sbBlog-month:before{
    @extend %icon;
    color: $color1;
    padding-right: 0.5em;
    content: "\e015";
}

.rss-feed:before{
    @extend %icon;
    color: $color2;
    padding-right: 0.5em;
    content: "\e005";
}

.post-metadata{
    text-transform: uppercase;
    font-weight: $bold;
    @include rem(font-size, 0.857rem);
}

/*-----  End of Blog Module  ------*/

/*====================================
=            Alert Box            =
====================================*/

.alert-box{
    background-color: $color16;
    border: 1px solid $color15;
    @include rem(padding, 1rem);
}

/*-----  End of Alert Module  ------*/

/*========================================
=            Save Test Module            =
========================================*/
.save-buttons{
    background: none repeat scroll 0 0 $color11;
    border-top: 2px solid $color1;
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100%;
    @include rem(padding, 1rem);
}

.save-test-module{
    max-width: 80em;
    margin: 0 auto;
    @include pie-clearfix;
}

.save-buttons-message{
    font-weight: $bold;
    @include rem(margin-bottom, 1.5rem);
}

/*-----  End of Save Test Module  ------*/

/*=======================================
=            Bookmark Module            =
=======================================*/

.bookmark{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: $color13;
    // text-transform: uppercase;
    @include rem(margin-bottom, 1.5rem);
}

.bookmark:before{
    @extend %icon;
    color: $color1;
    padding-right: 0.5em;
    content: "\e601";
}

/*-----  End of Bookmark Module  ------*/

/*=============================================
=   My History/Transfer Checkout Tables/Forms    =
=============================================*/
.exam-history,
.order-history{
    min-width: 50em;
    width: 100%;
}

.order-table{
    @include rem(margin-bottom, 1.5rem);
}

.my-history legend,
.transfer-checkout legend{
    color: $color12;
    font-weight: $light;
    @include rem(font-size, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
}

.my-history fieldset,
.transfer-checkout fieldset{
    border: 0;
    padding: 0;
    @include rem(font-size, 1rem);
    @include rem(margin-bottom, 1.5rem);
    }

.exam-history th,
.order-history th{
    background-color: $color12;
    font-weight: $bold;
    color: $color11;
    padding: 0.5em;
    border: 1px solid $color12;
}

.order-history td,
.exam-history td{
    border: 1px solid $color13;
    padding: 0.25em;
}

.order-history-item{
    text-align: left;
    @include rem(margin-bottom, .5rem);
}

/*-----  End of My History Table/Form  ------*/

/*=============================
=            Forms            =
=============================*/

form fieldset {
    @include rem(font-size, 1rem);
    @include rem(margin-bottom, 1.5rem);
    }

form fieldset label {
    display: block;
    font-weight: $bold;
}

form fieldset input[type="text"],
form fieldset input[type="password"],
form fieldset textarea {
    border: 1px solid #c0c0c0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none;
    background-color: $color11;
    box-shadow: inset 0 1px 3px #e6e6e6;
    -webkit-appearance: none;
    padding: .5em 1em;
    @include rem(margin-right, 0.5rem);
    @include rem(font-size, 1rem);
    @include border-radius(4px);
    @include transition(0.3s linear border);
}

form fieldset input[type="text"]:focus,
form fieldset input[type="password"]:focus,
form fieldset textarea:focus {
    border-color: $color13;
}

form fieldset textarea {
    height: 5em;
}

form fieldset select {
    max-width: 100%;
    margin: 0;
}

form input[type="submit"] {
    @extend %btn;
    color: $color11;
    background-color: $color1;
    padding: .5em 1em;
    @include rem(font-size, 1rem);
    &:hover{
    background-color: $color12;
}
    &:active{
    background-color: $color12;
}
}

/*==========  Contact Form  ==========*/

.contact-table form{
    @include rem(margin-bottom, 1.5rem);
}

.contact-table form legend{
    color: $color12;
    font-weight: $light;
    @include rem(font-size, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
}

.contact-table form fieldset{
    border: 0;
    padding: 0;
    @include rem(font-size, 1rem);
    @include rem(margin-bottom, 1.5rem);
    }

.contact-table form input[type="text"],
.contact-table input[type="email"],
.contact-table form textarea{
    border: 1px solid #c0c0c0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none;
    background-color: $color11;
    box-shadow: inset 0 1px 3px #e6e6e6;
    -webkit-appearance: none;
    padding: .5em 1em;
    width: 100%;
    @include rem(margin-right, 0.5rem);
    @include rem(font-size, 1rem);
    @include border-radius(4px);
    @include transition(0.3s linear border);
    @include rem(margin-bottom, 1rem);
}

.contact-table input[type="text"]:focus,
.contact-table input[type="email"]:focus,
.contact-table input[type="password"]:focus,
.contact-table textarea:focus {
    border-color: $color13;
}

.contact-table td {
    display: block;
    font-weight: $bold;
}

/*-----  End of Contact Form  ------*/

/*==========  Email form  ==========*/

.email-form fieldset{
    border: 0;
    padding: 0;
    @include rem(font-size, 1rem);
    @include rem(margin-bottom, 1.5rem);
}

.email-form label {
    display: block;
    font-weight: $bold;
    @include rem(margin-bottom, 0.5rem);
}

.email-form input[type="text"],
.email-form-textarea{
    width: 100%;
    @include at-breakpoint(50em){
    width: 75%;
}
}

.email-form fieldset img{
    display: block;
    @include rem(margin-bottom, 0.5rem);
}

/*==========  My Profile Form/Transfer Checkout Form ==========*/

.my-profile-form,
.transfer-checkout-form{
    @include rem(margin-bottom, 1.5rem);
}

.my-profile-form fieldset,
.transfer-checkout-form fieldset{
    border: 0;
    padding: 0;
    @include rem(font-size, 1rem);
    margin-bottom: 0;
}

.my-profile-form legend,
.transfer-checkout-form legend{
    color: $color12;
    font-weight: $light;
    @include rem(font-size, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
}

.my-profile-form label,
.transfer-checkout-form label {
    display: block;
    font-weight: $bold;
    @include rem(margin-bottom, 0.5rem);
}

.my-profile-form input[type="text"],
.my-profile-form input[type="password"],
.my-profile-form-textarea,
.transfer-checkout-form input[type="text"],
.transfer-checkout-form input[type="password"],
.transfer-checkout-form-textarea{
    width: 95%;
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(50em){
    width: 75%;
}
}

.my-profile-form input[type="password"],
.transfer-checkout-form  input[type="password"]{
    @include at-breakpoint(50em){
    width: 50%;
}
}

.my-profile-form select,
.transfer-checkout-form select{
    @include rem(margin-bottom, 1.5rem);
}

label.shipping-info-label{
    @include rem(margin-bottom, 1.5rem);
}

/*==========  Login form  ==========*/

.login-form,
.reset-password-form{
    @include rem(margin-bottom, 1.5rem);
}

.login-form fieldset,
.reset-password-form fieldset{
    border: 0;
    padding: 0;
    @include rem(margin-bottom, 1.5rem);
    @include rem(font-size, 1rem);
}

.login-form legend{
    color: $color12;
    font-weight: $light;
    @include rem(font-size, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
}

.login-form label,
.reset-password-form label{
    display: block;
    font-weight: $bold;
    @include rem(margin-bottom, 0.5rem);
}

.login-form input[type="text"],
.login-form input[type="password"],
.reset-password-form input[type="text"]{
    width: 95%;
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(50em){
    width: 60%;
}
}

.login-form input[type="password"]{
    margin-bottom: 0;
}

.inputs-list{
    @extend %unstyled-list;
}

/*==========  Search form  ==========*/

.search-input,
.ccm-search-block-text{
    border: 1px solid #c0c0c0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none;
    background-color: $color11;
    box-shadow: inset 0 1px 3px #e6e6e6;
    -webkit-appearance: none;
    padding: .5em 1em;
    @include rem(margin-right, 0.5rem);
    @include rem(font-size, 1rem);
    @include border-radius(4px);
    @include transition(0.3s linear border);
}

.search-input:focus,
.ccm-search-block-text:focus{
  border-color: $color1;
}

.ccm-search-block-submit{
    @extend %btn;
    color: $color11;
    background-color: $color1;
    padding: .5em 1em;
    @include rem(font-size, 1rem);
    &:hover{
    background-color: $color12;
}
    &:active{
    background-color: $color12;
}
}

/*==========  Exam Form  ==========*/

.grade-exam{
    @include rem(padding-top, 1.5rem);
    @include rem(padding-bottom, 1.5rem);
    @include rem(margin-bottom, 1.5rem);
    border-bottom: 1px solid $color13;
    @include at-breakpoint(62em){
    padding-bottom: 0;
    border-bottom: 0;
}
}

/*==========  Form for formBlockSurveyTable (Group Discounts page) ==========*/

.miniSurveyView{
    @include rem(margin-bottom, 1.5rem);
}

.miniSurveyView input,
.miniSurveyView textarea {
    width: 100%;
    border: 1px solid #c0c0c0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none;
    background-color: $color11;
    box-shadow: inset 0 1px 3px #e6e6e6;
    -webkit-appearance: none;
    padding: .5em 1em;
    @include rem(margin-right, 0.5rem);
    @include rem(font-size, 1rem);
    @include border-radius(4px);
    @include transition(0.3s linear border);
}

.miniSurveyView input:focus,
.miniSurveyView textarea:focus {
    border-color: $color13;
}
.miniSurveyView input{
    @include rem(margin-bottom, 1.5rem);
}

.miniSurveyView table.formBlockSurveyTable td{
    display: block;
}

.miniSurveyView label{
    font-weight: 700;
}

.miniSurveyView input[type="submit"]{
    width: auto;
    border: none;
    box-shadow: none;
}

/*=============================
=            Lists            =
=============================*/

.check-list,
.plus-list,
.category-list,
.page-list,
.simple-list,
.go-list,
.register-feature-list,
.registration-feature-list{
    @extend %unstyled-list;
    @extend %remove-margin-top;
}

.check-list li,
.questions-list li,
.plus-list li,
.category-list li,
.page-list li,
.simple-list li,
.go-list li,
.register-feature-list li,
.registration-feature-list li{
    @include rem(margin-bottom, .5rem);
}

.check-list li:before{
    @extend %icon;
    color: $color12;
    padding-right: 1em;
    content: "\e003";
}

.questions-list{
    padding-left: 1.5em;
    list-style-type: decimal;
}

.plus-list{
    @extend %remove-margin-top;
    // @include rem(font-size, 0.857rem);
    margin-left: auto;
    margin-right: auto;
    @include rem(padding-bottom, .5rem);
}

.plus-list li{
    margin-left: 1em;
    text-indent: -1em;
}

.plus-list li:before{
    @extend %icon;
    color: $color1;
    float: left;
    width: 1em;
    content: "+";
}

.plus-list li:last-of-type{
    margin-bottom: 0;
}

.category-list li:before{
    @extend %icon;
    color: $color12;
    padding-right: 0.5em;
    content: "\e017";
}

.page-list li:before{
    @extend %icon;
    color: $color12;
    padding-right: 0.5em;
    content: "\e018";
}

.go-list{
    text-align: left;
}

.go-list li:before{
    @extend %icon;
    color: $color1;
    padding-right: 0.5em;
    content: "\e012";
}

.course-list{
    @extend %unstyled-list;
    margin-top: 0;
    margin-bottom: 0;
}

.course-list li{
    @include rem(margin-bottom, .5rem);
}

.course-list li:last-of-type{
    margin-bottom: 0;
}

.register-feature-list{
    border-top: 1px solid $color13;
    @include rem(padding-top, 1rem);
}

.register-feature-list li:last-of-type{
    margin-bottom: 0;
}

.registration-feature-list{
    border-top: 1px solid lighten($color12, 65%);
    @include rem(padding-top, 1rem);
}

ol{
    @extend %remove-margin-top;
    @include rem(margin-bottom, 1.5rem);
}

ol li{
    @include rem(margin-bottom, .5rem);
}

ol li:last-of-type{
    margin-bottom: 0;
}

ol.upper-alpha{
    list-style-type: upper-alpha;
}

ol.lower-alpha{
    list-style-type: lower-alpha;
}

/*-----  End of Lists  ------*/

/*==========  Page list  ==========*/

.ccm-page-list,
.study-guide-page-list{
    @include rem(margin-bottom, 1.5rem);
}

.ccm-page-list-description,
.page-list-description,
.page-list-item{
    border-bottom: 1px solid lighten($color13, 5%);
    @include rem(margin-bottom, 1rem);
}

.page-list-description,
.ccm-page-list-description{
    @include rem(padding-bottom, 1rem);
}

h3.ccm-page-list-title{
    margin-bottom: 0;
}

h3.page-list-title,
h3.ccm-page-list-title{
    margin-left: 1.4em;
    text-indent: -1.4em;
    font-weight: $bold;
    @include rem(font-size, 1rem);
    margin-bottom: 0;
    @include rem(padding-bottom, 1rem);
}

h3.page-list-title:before,
h3.ccm-page-list-title:before{
    color: $color1;
    float: left;
    width: 1.4em;
    @extend %icon;
    content: "\e012";
}

/*==========  Author module  ==========*/

.author{
    @include rem(margin-bottom, 1.5rem);
}

/*==========  Register module  ==========*/


.registration-section{
    margin-left: auto;
    margin-right: auto;
    @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(50em){
    @include span-columns(6,12);
    margin-bottom: 0;
}
}

.registration-section:nth-of-type(even){
    margin-bottom: 0;
    @include at-breakpoint(50em){
    @include span-columns(6 omega,12);
}
}

.registration-checkbox-section{
    // display: inline-block;
    background-color: lighten($color12, 77%);
    // border: 1px solid $color13;
    @include rem(margin-bottom, 1rem);
    @include rem(padding, 0.5rem);
}

.registration-checkbox{
    @include rem(margin-bottom, 1rem);
}

.registration-checkbox:last-of-type{
    margin-bottom: 0;
}

.registration-options{
    @include rem(padding-top, 1rem);
    border-top: 1px solid lighten($color12, 65%);
}

.registration-checkout-item{
    font-weight: $bold;
}

/*==========  CTA Box  ==========*/

.cta-box{
    // @include rem(margin-bottom, 1.5rem);
    @include at-breakpoint(37.500em){
    @include span-columns(4,8);
    margin-bottom: 0;
}
}

.cta-box:last-of-type{
    margin-bottom: 0;
    @include at-breakpoint(37.500em){
    @include span-columns(4 omega,8);
}
}

.cta-box-container{
    text-align: center;
}

.cta-box-inner{
    padding: 0 1em;
    display: inline-block;
}

/*==========  Small CTA Box  ==========*/

.course-selections label {
    color: $color12;
    display: block;
    font-weight: $bold;
    @include rem(margin-bottom, .5rem);
}

.course-selections input[type="checkbox"] {
    @include rem(margin-right, .5rem);
}

.course-selections {
    @include at-breakpoint(50em){
    float: left;
}
}

.cta-button {
    @include at-breakpoint(50em){
    float: right;
}
}

/*==========  Tooltip  ==========*/

.tooltip span{
    color: $color1;
}

.tooltip strong{
    float: right;
    color: $color1;
    @include at-breakpoint(50em){
    display: none;
}
}

.tooltip h2{
    text-align: center;
    border-bottom: 1px solid $color1;
    @include rem(padding-bottom, 1rem);
    @include rem(margin-bottom, 1rem);
}

.tooltip{
    text-align: left;
    color: $color-text;
    background: $color11;
    position: absolute;
    z-index: 1;
    padding: 1em;
    border: 5px solid $color1;
    box-shadow: 0 0.385em 0.769em rgba(0, 0, 0, 0.2);
}

.tooltip:after{
    width: 0;
    height: 0;
    border-left: 0.714em solid transparent;
    border-right: 0.714em solid transparent;
    border-top: 0.714em solid $color1;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1.071em;
    margin-left: -0.714em;
}

.tooltip.top:after{
    border-top-color: transparent;
    border-bottom: 0.714em solid $color1;
    top: -1.429em;
    bottom: auto;
}

.tooltip.left:after{
    left: 0.714em;
    margin: 0;
}

.tooltip.right:after{
    right: 0.714em;
    left: auto;
    margin: 0;
}

/*==========  Nav Box  ==========*/

.nav-box {
    display: table;
    height: 4.286em;
    text-align: center;
    background-color: #d3e6ff;
    width: 100%;
    float: left;
    margin-right: 2.43902%;
    @include rem(padding, 1rem);
    @include rem(margin-bottom, 1rem);
}

.nav-box:nth-of-type(3n) {
    float: right;
    margin-right: 0;
}

.nav-box-content{
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 56em) {
  .nav-box {
    text-align: left;
    width: 31.70732%;
    float: left;
    margin-right: 2.43902%;
  }
}

// .nav-box{
//     display: table;
//     height: 6em;
//     background-color: $color13;
//     @include rem(padding, 1rem);
//     @include rem(margin-bottom, 1rem);
//     width: 100%;
//     float: left;
//     margin-right: 2.43902%;
// }

// .nav-box:nth-of-type(3n) {
//     float: right;
//     margin-right: 0;
// }

// .nav-box-content{
//     display: table-cell;
//     vertical-align: middle;
//     position: relative;
//     margin-right: 0;
//     margin-left: 0;
// }

// a.nav-box-icon:before{
//     position: absolute;
//     top: 25%;
//     font-size: 2em;
//     @extend %icon;
//     content: "\e012";
// }

// .nav-box-link{
//     margin-left: 3em;
//     padding-left: 1em;
//     border-left: 1px solid $color1;
// }

// @media (min-width: 56em) {
// .nav-box {
//     width: 31.70732%;
//     float: left;
//     margin-right: 2.43902%;
// }

// }