%btn{
    display: inline-block;
    text-align: center;
    color: $color11;
    cursor: pointer;
    border: 0;
    @include border-radius(4px, 4px);
    @include rem(font-size, 1.231rem);
    @include transition(background-color 1s ease);
    &:hover{
    text-decoration: none;
}
    &:active{
    text-decoration: none;
}
}

%icon{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

%unstyled-list{
    list-style-type: none;
    padding-left: 0;
}

%remove-margin-top{
    margin-top: 0;
}