$color1: #990000; // ACLS red
$color2: #ffbf00; // orange
$color3: #ffff00; // yellow
$color4: #7fff00; // green
$color5: #007fff; // light blue
$color6: #00ffff; // cyan
$color7: #0000ff; // blue
$color8: #7f00ff; // purple
$color9: #ff00ff; // Magenta
$color10: #000; // Black
$color11: #fff; // White
$color12: #002553; // ACLS Dark Blue
$color13: #d3e6ff; // ACLS Light Blue
$color14: #f88; // ACLS Light Red
$color15: #faa; // ACLS Light Red
$color16: #fee; // Very Light Red
$color17: #ccc; // Light Gray
$color18: #fafafa; // Off White
$color19: #f1e8f4; // Light Purple
$color20: #dbe8e0; // Light Green
$color21: #999; // Gray
$color22: #666; // Dark Gray


// Font weights
$light: 300;
$regular: 400;
$bold: 700;

$base-font-family: 'Lato', sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;
$color-text: #444;

// Border
$default-border-radius: 4px;